
*{
  font-family: 'Open Sans', sans-serif;
}

.Nav {
display: flex;
width: 100vw;
flex-direction: row;
}
.Nav li{
  display: inline;
  margin: 2%;
  padding: 2% 5%;
  align-content: center;
  border-radius: 15px;
}
a {
  text-decoration: none;
  color: black;
  font-size: 1.2em;
}
.Nav li:hover{
  background-color: #F5DA3D;
  transition: 0.1s;
  cursor: pointer;

}
.Form{
  gap: 10px;
  margin-left: 20%;
  padding: 15%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}

.Form label{
  font-size: 1.1em;
}

#search{
  padding: 1% 2%;
  border-radius: 12px;
  box-sizing: border-box;
  border: none;
  font-size: 1.6em;
  cursor: pointer;
  margin-right: 12%;
  background-color: #F5DA3D;
  color: white;
  font-weight: bold;
  float: right;
}
#search:hover{
  background-color: #beab3f;


}

.Form select{
 
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 1em;
  line-height: 1.2em;
  background-color: rgba(255, 255, 255, 0.1);
  justify-content: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}
#acc{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  justify-content: center;
}
#list{
  padding: 5%;
  
}
#teamlist{
 display: flex;
 flex-wrap: wrap;
 column-gap: 5%
 
}
#teamlist li{
  margin-bottom: 2%;
  border-radius: 30px;
  width: 30%;
  padding: 2%;
  list-style: none;}

#teamBox{
  
  border-radius: 20px;;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 2%;
  height: 40%;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  overflow: hidden;
}
  #teamForm{

  margin-left: 20%;
  overflow: hidden;
}
#searchGroup button, #memSearch button{
 
  padding: 1% 2%;
  border-radius: 12px;
  box-sizing: border-box;
  border: none;
  font-size: 1.6em;
  cursor: pointer;
  margin-right: 15%;
  background-color: #F5DA3D;
  color: white;
  font-weight: bold;
  
}
#searchGroup{
margin-left: 12%;
}
#memSearch {
  font-size: 1em;
}
#testt{
  display: flex; 
}
#buttonsUx{
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  background-color: #F5DA3D;
  color: black;
  border-radius: 9px;

}
#buttonsUx:hover{
  cursor: pointer;
  background-color: #beab3f;
  color: black;
  
}

#popUp:hover{

  box-shadow: 2px 5px #8888888d;

}